<wicket:extend xmlns:wicket="http://wicket.apache.org">
<span style="display: block; border: 1px solid black;">
Фрейм: <span wicket:id="selectedLabel">[selected contact]</span>
</span><br/>
<span wicket:id="feedback">Feedback messages go here</span>
<wicket:child/>
</wicket:extend>
