<wicket:extend xmlns:wicket="http://wicket.apache.org">
<br/><br/>


<span wicket:id="navigator">[dataview navigator]</span>
    <table cellspacing="0" class="dataview">
        <tr>
            <th>Действия</th>

            <th wicket:id="orderById">ID узла</th>
            <th wicket:id="orderByDate">Дата</th>
            <th>At команда</th>
            <th>Имя узла</th>
            <th>Декод. данные (IS)</th>
            <th>Сырые данные</th>
        </tr>
        <tr wicket:id="sorting">
            <td><span wicket:id="actions">[actions]</span></td>
            <td><span wicket:id="nodeId">[nodeId]</span> </td>
            <td><span wicket:id="date">[date]</span></td>
            <td><span wicket:id="atCommand">[atcommand]</span></td>
            <td><span wicket:id="nodeName">[name]</span></td>
            <td><span wicket:id="decoded">[decoded]</span></td>
            <td><span wicket:id="raw">[frame]</span></td>
        </tr>
    </table>

</wicket:extend>